services:
  postgres:
    image: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_DB=studs
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - PGDATA=/var/lib/postgresql/data
    ports:
      - "5432:5432"
    volumes:
      - database_data:/var/lib/postgresql/data

  consul:
    env_file: .env
    image: hashicorp/consul:1.22
    container_name: consul
    restart: unless-stopped
    environment:
      - CONSUL_HOST=${CONSUL_HOST}
      - CONSUL_PORT=${CONSUL_PORT}
      - CONSUL_DNS_PORT=${CONSUL_DNS_PORT}
    ports:
      - "${CONSUL_PORT}:${CONSUL_PORT}"
      - "${CONSUL_DNS_PORT}:${CONSUL_DNS_PORT}/udp"
    command: "agent -server -bootstrap-expect=1 -ui -client=0.0.0.0 -bind=0.0.0.0 -datacenter=dc1"

volumes:
  database_data:
    driver: local