.filter_box {
    border: 6px solid var(--color-secondary);
    background: var(--color-secondary);
    border-left: 0;
    border-right: 0;
    position: relative;
}

.filter_box:before {
    content: "";
    border-right: 0;
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: -20px;
    transform: skew(-30deg);
    width: 35px;
    z-index: -1;
    background: var(--color-secondary);
}

.filter_box:after {
    content: "";
    border-left: 0;
    position: absolute;
    top: -6px;
    bottom: -6px;
    right: -20px;
    transform: skew(-30deg);
    width: 35px;
    z-index: -1;
    background: var(--color-secondary);
}

.sort_box {
    border: 6px solid var(--color-light-blue);
    background: var(--color-light-blue);
    border-left: 0;
    border-right: 0;
    position: relative;
}

.sort_box:before {
    content: "";
    border-right: 0;
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: -20px;
    transform: skew(-30deg);
    width: 35px;
    z-index: -1;
    background: var(--color-light-blue);
}

.sort_box:after {
    content: "";
    border-left: 0;
    position: absolute;
    top: -6px;
    bottom: -6px;
    right: -20px;
    transform: skew(-30deg);
    width: 35px;
    z-index: -1;
    background: var(--color-light-blue);
}