@font-face {
    font-family: 'BadaBoom';
    src: url('fonts/BadaBoomBBCyrillic.ttf') format('ttf'),
    url('fonts/BadaBoomBBCyrillic.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}