.skew {
    border: 6px solid #f2cc0c;
    border-left: 0;
    background: #f2cc0c;
    border-right: 0;
    position: relative;
}

.skew:before {
    content: "";
    background: #f2cc0c;
    border-right: 0;
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: -20px;
    transform: skew(-30deg);
    width: 35px;
    z-index: -1;
}

.skew:after {
    content: "";
    background: #f2cc0c;
    border-left: 0;
    position: absolute;
    top: -6px;
    bottom: -6px;
    right: -20px;
    transform: skew(-30deg);
    width: 35px;
    z-index: -1;
}